<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension
	point="org.eclipse.ui.navigator.navigatorContent">
<!--@CincoGen PROJECT_WIZARD_CABO_NAV -->		
<commonWizard
	menuGroupId="mgl"
	type="new"
	wizardId="info.scce.cinco.product.cabo.wizard.caboproject">
	<enablement></enablement>
</commonWizard>
</extension>
<extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated REGKomponentenBibliothek -->
      <package class="info.scce.cinco.product.cabo.regs.regkomponentenbibliothek.RegkomponentenbibliothekPackage" uri="http://cinco.scce.info/product/cabo/regs"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated REGKomponentenBibliothek -->
      <package class="info.scce.cinco.product.cabo.regs.regkomponentenbibliothek.internal.InternalPackage" uri="http://cinco.scce.info/product/cabo/regs/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated REGKomponentenBibliothek -->
      <package class="info.scce.cinco.product.cabo.regs.regkomponentenbibliothek.views.ViewsPackage" uri="http://cinco.scce.info/product/cabo/regs/views"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated KabelPlan -->
      <package class="info.scce.cinco.product.cabo.kabelplan.kabelplan.KabelplanPackage" uri="http://cinco.scce.info/product/cabo/kabelplan"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated KabelPlan -->
      <package class="info.scce.cinco.product.cabo.kabelplan.kabelplan.internal.InternalPackage" uri="http://cinco.scce.info/product/cabo/kabelplan/internal"/>
   </extension><extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated KabelPlan -->
      <package class="info.scce.cinco.product.cabo.kabelplan.kabelplan.views.ViewsPackage" uri="http://cinco.scce.info/product/cabo/kabelplan/views"/>
   </extension><extension point="org.eclipse.ui.newWizards">
<!--@CincoGen PROJECT_WIZARD_CABO_WIZ -->
<wizard category="de.jabc.cinco.meta.core.wizards.category.cinco" class="info.scce.cinco.product.cabo.CaboProjectWizard" id="info.scce.cinco.product.cabo.wizard.caboproject" name="New Cabo Project">
</wizard>
</extension></plugin>